/* Sidebar background */
.wy-nav-side {
    background: #632682;
}

/* Top search bar */
.wy-side-nav-search {
    background-color: #632682;
}

/* Project title text */
.wy-side-nav-search > a {
    color: #ffffff;
}

/* Sidebar links */
.wy-menu-vertical a {
    color: #d9dee3;
}

/* Sidebar link hover */
.wy-menu-vertical a:hover {
    background-color: #5e456b;
}

/* Active page highlight */
.wy-menu-vertical li.current > a {
    background-color: #632682;
    color: #ffffff;
}
.wy-menu-vertical li.current > a :hover{
    color: #632682;
}


/* Section headers (e.g. Test Smells) */
.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #a9b4be;
}
